<div class="form">
    <h1>{{title}}</h1>
    <p>{{pTag}}</p>

<input type="text" placeholder="Filter your to-dos">

<ng-container class= "todolist">
    <div *ngFor = "let todo of todos; let i = index">
        <button class="deleteButton" style ="float: right">X</button>
        {{i+1}}. 
        <button mat-stroked-button color="primary" *ngIf="!todo.completed">Complete</button>
        <span *ngIf = "todo.completed" class="strike">{{todo.task}}</span>
        {{todo.task}}
    </div>
</ng-container>

<input type="text" placeholder="Add your to-do">

<button class="addButton">Add</button>
</div>

